<div class="page-header">
    <h3>Please Enter Necessary Information</h3>
</div>

<html>
<body>

<form action="/register" role="form" method="post" id="registration">
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br>
  First Name:<br>
  <input type="text" name="firstname">
  <br>
  Last Name:<br>
  <input type="text" name="lastname">
  <br>
  GUC-ID:<br>
  <input type="text" name="gucid">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
