<div class="page-header">
    <h3>Please Enter A Name</h3>
</div>

<body>
<html>

  <form action="/thanks" method="post">
    Student First Name:<br>
    <input type="text" name="firstname">
    <br>
    Student Last Name:<br>
    <input type="text" name="lastname">
    <br><br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>
