<div class="page-header">
    <h3>Upload Work</h3>
</div>



<html>
<body>

<form action="/upload" role="form" method="post" id="registration">
  Title:<br>
  <input type="text" name="username">
  <br>
  URL:<br>
  <input type="text" name="url">
  <br>
  Student Name:<br>
  <input type="text" name="studentname">
  <br>
  Image:<br>
  <input type="file" name="image" accept="image/*">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
